# Core web server
fastapi>=0.115.5,<0.116.0
uvicorn[standard]>=0.29.0,<0.30.0
gunicorn>=23.0.0,<24.0.0
uvloop>=0.20.0,<0.21.0

# Key application logic
openai-agents[litellm,realtime]>=0.2.10,<0.3.0
openai>=1.99.6,<2.0.0

# WebRTC and Media
aiortc>=1.7.0,<1.8.0
av>=11.0,<12.0
numpy>=1.26.4,<1.27.0

# WebSocket Signaling
python-socketio[asyncio_client]>=5.11.2,<5.12.0

# Database
sqlmodel>=0.0.18,<0.1.0
sqlalchemy>=2.0.30,<2.1.0
psycopg[binary]>=3.1.18,<3.2.0
sqlacodegen>=3.0.0rc4,<3.1.0

# Utilities
python-dotenv>=1.0.1,<1.1.0
httpx[http2]>=0.27.0,<0.28.0
redis[hiredis]>=5.0.0,<5.1.0
backoff>=2.2.1,<3.0.0
litellm>=1.4,<2.0
orjson>=3.9.7,<4.0.0
PyPDF2>=3.0.1
pdf2image>=1.16.0
Pillow>=10.0.0
